@model List<AdvertisementViewModel>
@inject IArtikliService service
@{Layout = "~/Views/Shared/_Layout.cshtml";}


<div class="box">
    @if (Model == null)
    {
        <div><p>Nema oglasa</p></div>
    }
    else
    {
    <table class="table-bordered datatable">
        <tr class="row">
            <th>Tip Oglasa</th>
            <th>Opis</th>
            <th>Datum kreiranja</th>
            <th>Datum isteka</th>
            <th>Klijent</th>
            <th>Opcije</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="row" role="row">
                <td class="col">@item.TypeName</td>
                <td class="col">@item.Description</td>
                <td class="col">@item.RegistrationDate.ToShortDateString()</td>
                <td class="col">@item.ExpirationDate.ToShortDateString()</td>
                <td class="col" >@item.UserName</td>
                <td class="col"><a asp-action="ChangeAdvertisement" asp-route-id="@service.GetAdvertisementByNameUser(item.TypeName, item.UserName, item.RegistrationDate.ToString()).AdvertisementId">Izmijeni</a></td>
            
                <td><a asp-action="DeleteAdvertisement" 
                        asp-route-id="@service.GetAdvertisementByNameUser(item.TypeName, item.UserName, item.RegistrationDate.ToString()).AdvertisementId">Izbrisi</a></td>
            </tr>
            
        }
    </table>
    }
</div>
