@model AdvertisementViewModel
@using Microsoft.AspNetCore.Http;
@using OnlineShopping.HelperUser;
@inject IArtikliService service
@inject IHttpContextAccessor access
@{ Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="box box-primary col-xs-6">
    <a asp-action="Index">Home</a>
    <div class="box-body text-center">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group-sm">
                <label>Tip Oglasa:</label>
                <select asp-for="@Model.TypeName" asp-items="@{new SelectList(service.GetAdvertisementTypeModels(),"AdvertisementType","AdvertisementType")}"></select>
                <span class="text-danger" asp-validation-for="@Model.TypeName"></span>
            </div>
            <div class="form-group-sm">
                <label>Klijent:</label>
                <input type="text" asp-for="@Model.UserName" id="username" />
                <div class="users">
                    <partial name="_UserName" model="@service.GetUsers()" />
                </div>
                <span class="text-danger" asp-validation-for="@Model.UserName"></span>
            </div>
            <div class="form-group-sm">
                <label asp-for="@Model.Description">Opis:</label>
                <input type="text" asp-for="@Model.Description" />
                <span class="text-danger" asp-validation-for="@Model.Description"></span>
            </div>
            <div class="form-group-sm">
                <label asp-for="@Model.ExpirationDate"></label>
                <input class="datepicker" asp-for="@Model.ExpirationDate" type="date" />
                <span class="text-danger" asp-validation-for="@Model.ExpirationDate"></span>

            </div>
            <div class="form-group-sm">
                <label>Slika oglasa:</label>
                <div class="btn btn-default btn-file">
                    <i class="fa fa-paperclip"></i> Slika
                    <input type="file" required name="picture">
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Potvrdi</button>
                <button class="btn btn-warning" type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>
<script>
    $("#username").blur(function () {

        $(".myuser").each((i, item) => {
            console.log($(item));
            if ($(item).find("p").first().html() == $(this).val()) {
                $(item).show();
            } else {
                $(item).hide();
            }
        });

    });
    $(".emailClick").click(function () {
        $("#username").val($(this).html());
        $(".myuser").hide();
    });

</script>