@model Artikl
@inject OnlineShopping.Services.IArtikliService Service
@{Layout = "_Layout";}
<div>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="ArtiklID" asp-for="@Model.ArtiklID" value="@Model.ArtiklID"/>
        <div>
            <label>ImeArtikla</label>
        <input type="text" name="ImeArtikla" value="@Model.ImeArtikla"/></div>
        <div>
            <label>Stanje Artikla</label><input type="text" name="NaStanju" asp-for="@Model.NaStanju" value="@Model.NaStanju" />
        </div>
        <div>
            <label>Cijena Artikla</label><input name="CijenaArtikla" asp-for="@Model.CijenaArtikla" value="@Model.CijenaArtikla" />
        </div>
        <div>
            <label>Ime Kategorije</label><input type="text" name="ImeKategorije" value="@Service.GetCategoryByID(Model.KategorijaID).ImeKategorije"/>
            <label>Slika Artikla</label><input type="file" name="slika" value="@Model.SlikaArtikla"/>
        </div>
        <input type="hidden" name="SlikaArtikla" asp-for="@Model.SlikaArtikla" value="@System.Text.Encoding.UTF32.GetString(Model.SlikaArtikla)"/>
        <input type="hidden" name="KategorijaID" value="@Model.KategorijaID"/>
        <button type="submit">Potvrdi izmjenu</button>
    </form>
</div>
