@model OnlineShopping.ViewModels.ArtiklViewModel


<table class="table table-striped">
    <thead>
        <tr>
            <td>Ime artikla</td>
            <td>Na stanju</td>
            <td>Vrijeme postavljanja</td>
            <td>Cijena artikla</td>
            <td>Akcija</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Articles)
    {
        <tr>
            <td>@item.ImeArtikla</td>
            <td>@item.NaStanju</td>
            <td>@item.VrijemePostavlanja</td>
            <td>@item.CijenaArtikla KM</td>
            <td><a asp-action="ChangeArticle" asp-route-id="@item.ArtiklID">Uredi</a></td>
        </tr>
    }
    </tbody>
</table>    


 