@model List<AdvertisementViewModel>
@inject IArtikliService service
@{Layout = "~/Views/Shared/_Layout.cshtml";}



    @if (Model.Count() == null)
    {
        <div><p>Nema oglasa</p></div>
    }
    else
    {
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Advertisement Type</td>
                <td>Description</td>
                <td>Create Date</td>
                <td>Expire Date</td>
                <td>Client</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TypeName</td>
                <td>@item.Description</td>
                <td>@item.RegistrationDate.ToShortDateString()</td>
                <td>@item.ExpirationDate.ToShortDateString()</td>
                <td >@item.UserName</td>
                <td><a asp-controller="Admin"asp-action="ChangeAdvertisement" asp-route-id="@service.GetAdvertisementByNameUser(item.TypeName, item.UserName, item.RegistrationDate.ToString()).AdvertisementId">Change</a></td>
                      
                <td><a asp-controller="Admin"asp-action="DeleteAdvertisement" 
                        asp-route-id="@service.GetAdvertisementByNameUser(item.TypeName, item.UserName, item.RegistrationDate.ToString()).AdvertisementId">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
    }