@model IEnumerable<OnlineShopping.ViewModels.ArticlePurchaseHistoryViewModel>
@{  decimal ukupno = 0;}

<table>
    <tr>
        <th>Article NameIme Artikla</th>
        <th>Customer</th>
        <th>Customer Email</th>
        <th>Bought Quantity</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        ukupno = ukupno+ item.TotalPrice;
        <tr>
            <td>@item.Artikl.ImeArtikla</td>
            <td>@item.User.UserName</td>
            <td>@item.User.Email</td>
            <td>@item.Amount</td>
            <td>@item.TotalPrice</td>
        </tr>
    }
    <tr><th>Total:</th><td>@ukupno</td></tr>
</table>


